/* Global Styles */
body {
    background-color: black;
    color: white;  /* This changes the text color to white for better contrast */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.main-header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.main-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.main-header p {
    margin: 5px 0 20px;
    font-size: 1.2em;
}

.main-header nav ul {
    list-style: none;
    padding: 0;
}

.main-header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.main-header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .cta-button {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}

